.main-header-container {
  width: 100%;
  height: 6rem;
  background-color: #27221233;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.75rem;
  box-sizing: border-box;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.top-header-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-user-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.logout-button {
  height: 1.75rem;
  background-color: #9b748d;
  color: white;
  border: none;
  padding: 0.0625rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logout-button:hover {
  background-color: #2c3e8a;
}

.logout-button:active {
  background-color: #1a2b6d;
}

.search-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.search-input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  border: 0.0625rem solid #ccc;
  background-color: #ffffff;
}

.search-input {
  height: 100%;
  width: 92%;
  padding: 0.25rem 0.25rem;
  border-radius: 1rem;
  border: none;
  outline: none;
}

.search-input::placeholder {
  color: #0a0a0a;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-icon {
  font-size: 1rem;
  color: #aaa;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.add-chat-button {
  display: flex;
  aspect-ratio: 1 / 1;
  width: auto;
  height: 100%;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  border: none;
  background-color: #9b748d;
}
